# Data Science Tools and Ecosystem

A data ecosystem refers to a combination of enterprise infrastructure and applications that is utilized to aggregate and analyze information. It enables organizations to better understand their customers and craft superior marketing, pricing and operations strategies.

### Data Science Languages
<ol>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
  <li>Java</li>
  <li>Scala</li>
  <li>Ruby</li>
</ol>

###  Commonly Used Libraries
<ol>
	<li>Pandas</li>
	<li>Numpy</li>
    <li>ScikitLearn</li>
    <li>matplotlib</li>
    <li>Pytorch</li>
    <li>Scipy</li>
</ol>

### Table


| No |DS Tools | 
| --- | --- | 
|1| Knime |
| 2 | Apache Spark |
| 3| Weka|
|4| TensorFlow|

 ### Below are a few examples of evaluating arithmetic expressions in Python.
 This is Simple Arithmatic Expression which add and multiply the integers

In [6]:
#This a simple arithmetic expression to mutiply then add integers.
a,b=3,4
z=(a*b)+5
print(z)

17

### Minutes to Hours

In [3]:
minutes=200
#This will convert 200 minutes to hours by diving by 60
Hours=minutes//60
print("Hours: ",Hours)

Hours:  3

**Objectives:**
* List popular languages for Data Science
 * Python
 * R
 * SQL
 * Java
 * Scala
 * Ruby

### Code and Syntax Highlighting

```python
def staySafe(Coronavirus)
  if not home:
    return home
```

## Abhinandan Patil 
Computer Science and Enginnering Student<br>
Author